@model Projeto.Presentation.Mvc.Models.DashboardViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Seja bem vindo ao projeto!</h5>
<hr/>

<div class="row">
    <div class="col-md-4">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Tipo da Conta</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ResumoContas)
                {
                    <tr>
                        <td>@item.NomeCategoria.ToUpper()</td>
                        <td>
                            @if (item.NomeCategoria.ToUpper()
                                  .Contains("RECEITA"))
                            {
                                <strong class="text-success">
                                    @item.Total.ToString("c")
                                </strong>
                            }
                            else
                            {
                                <strong class="text-danger">
                                    @item.Total.ToString("c")
                                </strong>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="graficocontas"></div>

    </div>
</div>

@section scripts{ 

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <script>
        $(document).ready(
            function () {

                //requisição AJAX para o HomeController
                $.ajax({
                    type: "POST",
                    url: "/Home/ObterGraficoResumoContas",
                    data: {},
                    success: function (result) {

                        //montando o gráfico do highcharts
                        var array = [];

                        for (var i = 0; i < result.length; i++) {
                            array.push([
                                result[i].name, result[i].data[0]
                            ]);
                        }
                        var grafico = new Highcharts.Chart({
                            chart: {
                                type: 'pie',
                                renderTo: 'graficocontas'
                            },
                            title: {
                                verticalAlign: 'middle',
                                floating: true,
                                text: 'Resumo de Contas'
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: '75%',
                                    dataLabels: {
                                        enabled: false
                                    },
                                    showInLegend: true
                                }
                            },
                            exporting: { enabled: false },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                data: array
                            }],
                            colors: [
                                '#dc3545', /* red */
                                '#28a745', /* green */
                            ]
                        });

                    },
                    error: function (e) {
                        console.log(e);
                    }
                })

            });
    </script>
}